*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    align-items: center;
    height: 80px;
}

.navbar .logo{
    height: 50px;
    width: 250px;
    grid-column: 2/3;
}

.navbar .menu{
    grid-column: 5/9;
    display: flex;
    font-size: 100%;
    font-weight: bold;
}

.navbar ul li{
    list-style: none;
    margin-right: 50px;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar .menu-bar{
    display: none;
}

.container{
    background-color: #DBDBDB;
}

.mission{
    color: blue;
    display: grid;
    grid-template-columns: repeat(17,1fr);
    grid-template-rows: repeat(7,45px);
}

.mission .rectangulo1{
    background-color: orange;
    border: 2px solid black;
    grid-column: 8/15;
    grid-row: 4/7;
    height: 100%;
    width: 100%;
    align-items: center;
}

.mission .rectangulo1 p{
    margin: 25px auto;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
}

.mission h2{
    grid-column: 4/7;
    grid-row: 4/7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}

.mission .linea1{
    background-color: black;
    grid-column: 2/17;
    grid-row: 2/3;
}

.mission .linea2{
    background-color: black;
    grid-column: 2/3;
    grid-row: 3/8;
}

.mission .linea3{
    background-color: black;
    grid-column: 16/17;
    grid-row: 3/8;
}

.vision{
    color: blue;
    display: grid;
    grid-template-columns: repeat(17,1fr);
    grid-template-rows: repeat(7,45px);
}

.vision .rectangulo2{
    background-color: orange;
    border: 2px solid black;
    grid-column: 4/11;
    grid-row: 2/5;
    height: 100%;
    width: 100%;
}

.vision .rectangulo2 p{
    margin: 15px auto;
    text-align: center;
    letter-spacing: 1px;
    font-size: 20px;
}

.vision h2{
    grid-column: 12/15;
    grid-row: 2/5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
}

.vision .linea4{
    background-color: black;
    grid-column: 2/3;
    grid-row: 1/7;
}

.vision .linea5{
    background-color: black;
    grid-column: 3/17;
    grid-row: 6/7;
}

.vision .linea6{
    background-color: black;
    grid-column: 16/17;
    grid-row: 1/6;
}

.members{
    color: blue;
    display: grid;
    grid-template-columns: repeat(17,1fr);
    grid-template-rows: repeat(11,45px);
}

.members .linea7{
    background-color: black;
    grid-column: 2/17;
    grid-row: 2/3;
}

.members .circulo1{
    grid-column: 2/5;
    grid-row: 4/8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.members .circulo1 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.members .diego{
    grid-column: 2/5;
    grid-row: 8/9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.members .circulo2{
    grid-column: 6/9;
    grid-row: 4/8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.members .circulo2 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.members .david{
    grid-column: 6/9;
    grid-row: 8/9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.members .circulo3{
    grid-column: 10/13;
    grid-row: 4/8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.members .circulo3 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.members .rodrigo{
    grid-column: 10/13;
    grid-row: 8/9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.members .circulo4{
    grid-column: 14/17;
    grid-row: 4/8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.members .circulo4 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

.members .jhonatan{
    grid-column: 14/17;
    grid-row: 8/9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.members .linea8{
    background-color: black;
    grid-column: 2/17;
    grid-row: 10/11;
}

.footer{
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-areas: "addres follow-me social-network";
    height: 100px;
    color: white;
    background-color: black;
}

.footer .addres{
    grid-template-areas: addres;
    justify-content: center;
    text-align: center;
}

.footer .addres a{
    color: white;
    text-decoration: none;
}

.footer .addres:hover{
    transform: scale(1.5);
}

.footer h2{
    grid-template-areas: follow-me;
    text-align: center;
}

.footer h2 a{
    text-decoration: none;
    color: white;
}

.footer h2:hover{
    transform: scale(1.5);
}

.footer .social-network{
    grid-template-areas: social-network;
    text-align: center;
    font-size: 2em;
}

.footer .social-network ul{
    list-style: none;
}

.footer .social-network ul li{
    display: inline-block;
}

.footer .social-network ul li a{
    color: white;
    display: block;
}

.footer .social-network ul li a:hover{
    transform: scale(1.75);
}